@import '../../../styles/main';

.header {
  width: 100%;
  align-self: stretch;

  @extend %row;
  justify-content: center;
  background-color: $calatinaBlue;

  padding: rem(11) 0;
  min-height: rem(64);

  .logo {
    min-width: rem(40);
    max-height: rem(40);
  }
}
